.card {
padding: 16px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: 0.3s;
width: 20px;
border-radius: 5px;
}
.cardDiv:hover {
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.imgS {
border-radius: 15px;
width: 340px;
height: 200px;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 2%;
}
.topnav {
overflow: hidden;
background-color: #333;
}
button
{background-color:#9ee24a;;border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;text-align:center;cursor:pointer;white-space:nowrap;margin: 3px;}
.container {
margin: inherit;
padding: 7px 19px;
height: 370px;
transition: 0.3s;
background-color: #eef7e3;
overflow: hidden;
margin: 5px;
border-radius: inherit;
}
input[type=text] {
margin: 30px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
width: 80%;
}
.column {
float: left;
width: fit-content;
padding: 0 10px;
display: inline-block;
}
b,p{
text-decoration-color: aliceblue;
white-space: initial;
}
.row {
white-space: nowrap;
overflow-x: scroll;
}
.cardDiv {
margin: 15px;
height: auto;
padding-bottom: 10px;
box-shadow: 0 4px 8px 0 rgba(0.2, 0, 0, 0.3);
padding-top:10px;
margin-bottom: 10px;
width: 353px;
border-radius: 10px;
height:600px;
display: inline-block;
}
.insideDiv {
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap; 
height: 700px;
width: 100%;
}